<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--  Prevent any writes to the inventory_reservations table  -->
    <type name="Magento\InventorySalesApi\Api\PlaceReservationsForSalesEventInterface">
        <plugin name="disable_place_reservations" type="Ampersand\DisableStockReservation\Plugin\PlaceReservationsForSalesEventPlugin"/>
    </type>
    <type name="Magento\Sales\Model\Service\OrderService">
        <plugin name="inventory_sales_source_deduction_processor" type="Ampersand\DisableStockReservation\Plugin\SourceDeductionProcessor"/>
    </type>
    <!--
        Fix M2.4 introduced bug caused by new interface implementation.
        - @see \Magento\InventoryInStorePickupSales\Model\SourceSelection\GetSourceItemQtyAvailableService
        - @see https://github.com/AmpersandHQ/magento2-disable-stock-reservation/issues/38
     -->
    <preference
        for="Magento\InventorySourceSelectionApi\Model\GetSourceItemQtyAvailableInterface"
        type="Magento\InventorySourceSelectionApi\Model\GetSourceItemQtyAvailableService"
    />
</config>
