<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_adminhtml_order_shipment_new">
        <!-- Prevent redirecting to source selection page when making a shipment via the MAP -->
        <observer name="inventory_shipping_check_data_before_load_new_shipment" disabled="true"/>
    </event>
</config>
